
body {
    margin: 0;
    font-family: ned;
}
.brht {
    width: 100%;
    background-color: #fff;
    height: 100%;
    position: absolute;
    margin-top: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.imgdhf {
    background: #929292;
    width: 112px;
    height: 112px;
    border-radius: 50%;
    padding: 10px;
    margin: auto;
    background-image: url(../img/app/logo.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.lkhsdbka {
    margin-top: 65px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}
.txtjd{
     margin-top: 20px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}
.btn {
    
background: #1e96e4;
    
width: 100%;
    
height: 50px;
    
font-family: ned;
    
font-weight: 900;
    
font-size: 20px;
    
    
outline: none;
    
border-color: transparent;
    
color: #fff;
}

.kfkdfk {
    padding-left: 13px;
    padding-right: 13px;
    margin-top: 16px;
    background: #fff;
    position: fixed;
    width: -webkit-fill-available;
    bottom: 1px;
    padding-top: 13px;
    height: 91px;
}

.shdf {
    text-align: center;
    color: red;
    font-size: 17px;
    font-weight: 900;
    cursor: pointer;
}

.descvbg {
    /* background: aquamarine; */
    text-align: center;
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 13px;
    padding-right: 13px;
}

button {
    cursor: pointer;
    border-radius: 12px;
}

button.btn.fs:active {
    background-color: #1e96e4;
}

.hder {
    background: white;
    width: 100%;
    height: 38px;
    margin-top: 0;
    position: fixed;
    padding-top: 13px;
    z-index: 10;
}

.bckda {
    margin-top: 7px;
    position: absolute;
    margin-left: 14px;
    font-weight: 900;
    color: #0779fd;
}

.brht.kdfk {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    margin-top: 0;
}

.kdfnlsl {
    background: white;
    width: 100%;
    height: 100vh;
    margin-top: 118px;
}

.jdsf {
    text-align: center;
    font-size: 19px;
    font-weight: 900;
    margin-top: 17px;
    position: absolute;
    width: 100%;
    color: #000000;
}

.sgnfn_dib {
    width: 100%;
    margin-top: 53px;
    position: absolute;
    text-align: center;
}


#sgnfn_inpt {
    width: 92%;
    height: 37px;
    background: #fff;
    margin-top: 5px;
    border-color: transparent;
    padding-left: 9px;
    font-family: ned;
    outline: none;
    border-radius: 12px;
}

input.btnfm {
    width: 95.5%;
    height: 39px;
    background: #0779fd;
    margin-top: 12px;
    border-color: transparent;
    padding-left: 9px;
    font-family: ned;
    outline: none;
    font-size: 19px;
    cursor: pointer;
    color: #fff;
    border-radius: 12px;
}
.bckda.lgnf {
    right: 17px;
}