.knsdalmk {
    background: #ff9e5af7;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -2;
}

.vontoned {
    background: #e2e2e2;
    width: fit-content;
    margin-left: 122px;
    margin-top: 2px;
    position: absolute;
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 13px;
    font-weight: bolder;
    padding-top: 3px;
    padding-bottom: 3px;
    box-shadow: 0 0 3px #525252;
}
.mptnuiefni {
    width: 100%;
    height: 100%;
    position: fixed;
}